<!-- orders/templates/orders/order-detail.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
  {% block status %}
    <p>Status: <span class="badge bg-primary">{{ order.get_status_display }}</span></p>
    {% if user.is_staff %}
      <p><a href="{% url 'orders:order-update' order.id %}" class="badge bg-primary">Изменить</a></p>
    {% endif %}
  {% endblock status %}

  <h4>Order Items</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.cart_history.items %}
        <tr>
          <td>{{ item.product }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.total_price }} ₽</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Total Price: {{ order.cart_history.total_price }} ₽</h4>

  {% if user.is_staff %}
    <div class="mt-4">
      <h5 class="mb-3">Информация о заказе:</h5>
      <p class="mb-2"><strong>Address:</strong> {{ order.address }}</p>
      <p class="mb-2"><strong>Comment:</strong> {{ order.comment }}</p>
    </div>
  {% endif %}
</div>

{% endblock %}
