<!-- products/product-list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3 category-list">
        <!-- Список категорий с использованием стилей Bootstrap -->
        <div class="list-group">
            <a href="{% url 'products:product-list'%}" class="list-group-item list-group-item-action">
              Все категории
            </a>
          {% for category in categories %}
            <a href="{% url 'products:category' category.id %}" class="list-group-item list-group-item-action">
              {{ category.name }}
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-9">
        <!-- Карточки товаров -->
        <div class="row">
          {% for product in products %}
            <div class="col-md-4 mb-3">
              <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <h5 class="card-title">{{ product.price }} ₽</h5>
                  <a href="{% url 'orders:add_to_cart' product.id %}" class="btn btn-primary">Добавить в корзину</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- Пагинация с использованием стилей Bootstrap -->
        <!-- Пагинация с использованием стилей Bootstrap -->
            <!-- Пагинация с использованием стилей Bootstrap -->
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page=1" aria-label="Previous">-->
<!--                                <span aria-hidden="true">&laquo;&laquo;</span>-->
<!--                            </a>-->
<!--                        </li>-->
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        <li class="page-item{% if page_obj.number == i %} active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">-->
<!--                                <span aria-hidden="true">&raquo;&raquo;</span>-->
<!--                            </a>-->
<!--                        </li>-->
                    {% endif %}
                </ul>
            </nav>
        {% endif %}


      </div>
    </div>
  </div>
{% endblock %}
